<h1>ジャンル編集</h1>

  <div class="row">
  <div class="col-md-6 col-md-offset-3">

   <%= form_with(model: @genre, url:admins_genre_path, local: true) do |f| %>

   <%= render partial: 'layouts/error_messages', locals: { obj: @genre} %>
      <%#= render 'layouts/error_messages', obj: @genre %>

      <%= f.label :ジャンル名 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.radio_button :is_invalid, :"0" %>有効
      <%= f.radio_button :is_invalid, :"1" %>無効

      <%= f.submit "変更を保存する", class: "btn btn-primary" %>
    <% end %>
  </div>
