<h3>会員編集</h3>

  <div class="row">
  <div class="col-md-6 col-md-offset-3">

   <%= form_with(model: @end_user, url: admins_end_user_path) do |f| %>
      <%#= render 'shared/error_messages' %>

      <%= f.label :"氏名(姓)" %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :"氏名(名)" %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :"フリガナ(セイ)" %>
      <%= f.text_field :last_name_kana, class: 'form-control' %>

      <%= f.label :"フリガナ(メイ)" %>
      <%= f.text_field :first_name_kana, class: 'form-control' %>

	  <%= f.label :email %>
	  <%= f.email_field :email, class: 'form-control'  %>

      <%= f.label :電話番号 %>
	  <%= f.text_field :telephone_number, class: 'form-control' %>

	  <%= f.label :郵便番号 %>
	  <%= f.text_field :postal_code, class: 'form-control' %>

	  <%= f.label :住所 %>
	  <%= f.text_field :address, class: 'form-control' %>

    <%= f.label :会員ステータス %>
      <% if @end_user.is_deleted == true %>
        <%= f.radio_button :is_deleted, :"0" %>有効
        <%= f.radio_button :is_deleted, :"1",{:checked => true} %>退会済み
      <% else %>
        <%= f.radio_button :is_deleted, :"0",{:checked => true} %>有効
        <%= f.radio_button :is_deleted, :"1" %>退会済み
      <% end %>
       <%= f.submit "変更を保存する", class: "btn btn-primary" %>
      <% end %>
     

  </div>