<h3>会員情報詳細</h3>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>フリガナ</th>
          <th>郵便番号</th>
          <th>住所</th>
          <th>電話番号</th>
          <th>メールアドレス</th>
          <th>有効/無効会員</th>
          <th>編集</th>
          <th>注文履歴</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @end_user.id %></td>
          <td><%= "#{@end_user.last_name}#{@end_user.first_name}" %></td>
          <td><%= "#{@end_user.last_name_kana}#{@end_user.first_name_kana}" %></td>
          <td><%= @end_user.postal_code %></td>
          <td><%= @end_user.address %></td>
          <td><%= @end_user.telephone_number %></td>
          <td><%= @end_user.email %></td>
          <td><%if @end_user.is_deleted == true %>
          	      退会
          	  <% else %>
	              有効
              <% end %>
          </td>
          <td><%= link_to "編集ページ", edit_admins_end_user_path, class: "btn btn-primary" %></td>
          <td><%= link_to "注文履歴一覧", admins_orders_path, class: "btn btn-primary" %></td>
        </tr>
      <tbody>
      </table>
    </div>
  </div>