<div class="row">
  <h2>検索結果</h2>

  <table class="table table-hover">
    <thead>
      <th>ユーザー名</th>
      <th>商品名</th>
    </thead>
    <tbody>
      <tr>

      <!--@recordsの値がない-->
          <% @records.each do |record| %>
            <!--userモデルの値があったら-->
            <% if @model == 'end_user' %>
              <td><%= record.last_name %></td>

            <!--bookモデルの値があったら-->
            <% elsif @model == 'item' %>
              <td><%= record.name %></td>

            <% else %>
              <td>一致するものはありません</td>
          	<% end %>
          <% end %>
      </tr>
    </tbody>
  </table>
</div>

	<% if @model == 'end_user' %>
	  <h4>Users search for '<%= @content %>'</h4>
	  <%#= render 'users/index', users: @records %>
	  <% else @model == 'items' %>
	  <h4>Items search for '<%= @content %>'</h4>
	    <%#= render 'items/index', items: @records %>
	<% end %>


<!--テスト-->
<%= @records %>