<div class="row">
  <div class="col-xs-6 col-xs-offset-1">
    <% if @model == 'end_user' %>
      <h3>ユーザー検索結果 　　'<%= @content %>'</h3>
      <%#= render 'users/index', users: @records %>
      <% else @model == 'items' %>
      <h3>商品検索結果 　　'<%= @content %>'</h3>
        <%#= render 'items/index', items: @records %>
    <% end %>
  </div>

  <div class="col-xs-6 col-xs-offset-1">
    <table class="table table-hover">
      <thead>
        <th>
          <% if @model == 'end_user' %>
          　ユーザー名
        　<% else %>
            商品名
          <% end %>
        </th>
      </thead>
      <tbody>
          <% if @records.exists? %>
          <% @records.each do |record| %>
          <tr>
                <!--end_userモデルの値があったら-->
                <% if @model == 'end_user' %>
                  <td>
                    <%= record.last_name %><%= record.first_name %>
                  </td>
                <!--itemモデルの値があったら-->
                <% elsif @model == 'item' %>
                  <td><%= record.name %></td>
                <% else %>
                  <td>一致するものはありません</td>
              	<% end %>
          </tr>
          <% end %>
          <% end %>
      </tbody>
    </table>
  </div>

</div>

