<div class="row">
	<h4 class="col-md-2 col-md-offset-1">配送先編集</h4>
</div>
<div class="row">
	<%= form_for(@delivery, url: delivery_path) do |f| %>
	<table>
		<tr>
			<th class="col-md-3">郵便番号(ハイフンなし)</th>
			<td><%= f.text_field :postal_code %></td>
		</tr>
		<tr>
			<th class="col-md-3" >住所</th>
			<td><%= f.text_field :address, :size => "60" %></td>
		</tr>
		<tr>
			<th class="col-md-3" >宛名</th>
			<td><%= f.text_field :name %></td>
		</tr>
	</table>
</div>
<div class="row">
	<div class="col-md-1 col-md-offset-7">
		<%= f.submit '編集する', class: "btn btn-default btn-primary" %>
	<% end %>
	</div>
</div>
