<h2>注文履歴一覧</h2>
<table class="table table-bordered">
    <thead>
    	<tr>
    		<th>注文日</th>
    		<th>配送先</th>
    		<th>注文商品</th>
    		<th>支払い金額</th>
    		<th>ステータス</th>
    		<th>注文詳細</th>
    	</tr>
    </thead>
    <tbody>

        <% @orders.each do |order| %>
        <tr>
            <td><!--日本時間で表示する-->
                <%= order.created_at.to_s(:datetime_jp) %>
            </td>

            <td><!--配送先-->
                <%= order.address %>
            </td>

            <td><!--注文に結びついた注文商品の商品名-->
              <% order.order_items.each do |order_item| %>
                <%= order_item.item.name %>
              <% end %>
            </td>
            <!--total_priceを使う, showでも使えるように-->
            <td><!--支払い金額 = 単価*小計 + 800 -->
                <%#= order.total_price + order.shipping_fees %>
                <%#= converting_to_jpy(order.shipping_fees + (BigDecimal(order.total_price) * BigDecimal("1.1")).ceil) %>
                <%= converting_to_jpy(order.total_price + order.shipping_fees) %>
            </td>

            <td><!--注文ステータス、入金情報-->
                <%= order.order_status_i18n %>
            </td>

            <td><%= link_to '表示する', order_path(order), class: 'btn btn-default btn-primary' %>
            </td>
        </tr>
        <% end %>
    </tbody>

</table>