<h2>注文履歴一覧</h2>
<table class="table table-bordered">
    <thead>
    	<tr>
    		<th>注文日</th>
    		<th>配送先</th>
    		<th>注文商品</th>
    		<th>支払い金額</th>
    		<th>ステータス</th>
    		<th>注文詳細</th>
    	</tr>
    </thead>
    <tbody>

        <% @order_items.each do |order_item| %>
        <tr>
            <td><!--注文日-->
                <%= order_item.created_at %>
            </td>

            <!--他に良い書き方があるのでは-->
            <td><!--配送先-->
                <%= order_item.order.address %>
            </td>

            <td><!--注文商品名-->
                <%= order_item.item.name %>
            </td>
            <!--total_priceを使う, showでも使えるように-->
            <!--もっといい書き方ありそう、変数でまとめたい-->
            <td><!--支払い金額 = 単価*小計 + 800 -->
                <%= order_item.tax_item_price * order_item.number + 800 %>
            </td>

            <td><!--注文ステータス、入金情報-->
                <%= order_item.order.order_status_i18n %>
            </td>

            <td><%= link_to '表示する', order_path(order_item), class: 'btn btn-default btn-primary' %>
            </td>
        </tr>
        <% end %>

    </tbody>

</table>