<div class="row">
  <div class="col-xs-6 col-xs-offset-1">
	<h3>注文情報入力</h3>
  </div>
</div>

<div class="row">

  <div class="form-horizontal">
    <%= form_with(model: @order, url: orders_detail_path, local:true) do |f| %>

	  <%#= render 'shared/error_messages' %>
	  <div class="form-group">
	  	<div class="col-xs-6 col-xs-offset-2">
	  	  <label class="control-label">支払い方法</label>
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-xs-6 col-xs-offset-2">
		    <%= f.radio_button :payment_method, :credit_card %>クレジットカード
			<%#= f.label :payment_method, "クレジットカード", {value: :"0", style: "display: inline-block;"} %><br />
			<%= f.radio_button :payment_method, :bank_transfer %>銀行振込
			<%#= f.label :payment_method, "銀行振込", {value: 1, style: "display: inline-block;"} %>
		</div>
	  </div>

	  <!--以降、お届け先入力欄-->
	  <div class="form-group">
	  	<div class="col-xs-6 col-xs-offset-2">
	  	  <label class="control-label">お届け先</label>
	  	</div>
	  </div><!--プロパティ名と値をセットで指定する必要がある--><!--valueも書いたけど、なくてもいけるみたいでよくわからない-->

	  <!--自分の住所-->
	  <div class="form-group">
	    <div class="col-xs-6 col-xs-offset-2">
	    	<%= radio_button_tag :radio_button, 1 %>
	    	<%= f.label :address, 'ご自身の住所', style:"display: inline-block;" %><br />
            <%= "〒#{current_end_user.postal_code}  #{current_end_user.address}  #{current_end_user.last_name} #{current_end_user.first_name}" %>
	    </div>
	  </div>
	  <!--登録先住所-->
	  <div class="form-group">
	  	<div class="col-xs-6 col-xs-offset-2">
	    	<%= radio_button_tag :radio_button, 2 %>
	    	<%= f.label :address, '登録先住所から選択',style:'display: inline-block;' %><br />
	    	<!--セレクトボタン-->
	    	<%= f.collection_select :delivery_id, Delivery.all, :id, :name, :include_blank => true %>
	  	</div>
	  </div>
	  <!--新しい住所-->
	  <div class="form-group">
	  	<div class="col-xs-6 col-xs-offset-2">

	  		<!--ラジオボタンの書き方-->
	  		<%= radio_button_tag :radio_button, 3 %>
	  		<%= f.label :address, '新しいお届け先', value: 3, style: 'display: inline-block;' %><br />

	  		<%= f.label '郵便番号(ハイフンなし)' %>
	  		<%= f.text_field :postal_code %><br />

	  		<%= f.label '住所' %>
	  		<%= f.text_field :address %><br />

	  		<%= f.label '宛名' %>
	  		<%= f.text_field :name %>
		</div>
	  </div>

	  <div class="form-group">
	  	<div class="col-xs-6 col-xs-offset-2">
	  	  <div class="actions">
	  		  <%= f.submit '確認画面へ進む', class: 'btn btn-default btn-primary' %>
	  	  </div>
	  	</div>
	  </div>

	  <% end %>
  </div>
</div>


