<h2>注文履歴詳細</h2>


	<h4>注文情報</h4>
	<table class="table table-bordered">
	    <tr>
			<th>注文日</th>
			<th>配送先</th>
			<th>支払い方法</th>
			<th>ステータス</th>
	    </tr>
	    <tr>
			<td><%= @order.created_at %></td>
			<td><%= @order.address %></td>
			<td><%= @order.payment_method_i18n %></td>
			<td><%= @order.order_status_i18n %></td>
	    </tr>
	</table>


	<h4>注文内容</h4>
	<table class="table table-bordered">
	    <tr>
			<th>商品</th>
			<th>単価（税込）</th>
			<th>個数</th>
			<th>小計</th>
			<th></th>
	    </tr>
	    <tr>
	    	<% @order_items.each do |order_item| %>
			<td><%= order_item.item.name %></td>
			<td><%= order_item.tax_item_price %></td>
			<td><%= order_item.number %></td>
			<td><%= order_item.tax_item_price * order_item.number %></td>
	    </tr>
	    <% end %>
	</table>


	<h4>請求情報</h4>
	<table class="table table-bordered">
	    <tr>
			<th>商品合計</th>
			<th>配送料</th>
			<th>ご請求額</th>
	    </tr>
	    <tr><!--修正が必要!!!!!!!!!!!!--><!--現状、カートアイテムの商品合計が表示される-->
			<td><%= converting_to_jpy(current_end_user.cart_item_sum) %></td>

			<td><%= @order.shipping_fees %></td>

			<td><%= converting_to_jpy(current_end_user.cart_item_sum + @order.shipping_fees) %></td>
	    </tr>
	</table>