<div class="row">
    <div class="col-xs-3 col-xs-offset-3">
      <h3>商品追加</h3>
    </div>
</div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with(model: @item, url:'/admins/items', local: true) do |f| %>

        <%= render partial: 'layouts/error_messages', locals: { obj: @item} %>

        <%= f.attachment_field :image %>

        <%= f.label :商品名 %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :商品説明 %>
        <%= f.text_area :introduction, class: 'form-control' %>

        <%= f.label :税抜価格 %>
        <%= f.text_field :price, class: 'form-control'%>

        <%= f.label :ジャンル名選択 %>
        <%= f.collection_select :genre_id, Genre.all, :id, :name %></br>

        <%= f.label :販売ステータス %>
        <%= f.radio_button :is_soldout, :"1" %>売り切れ
        <%= f.radio_button :is_soldout, :"0" %>販売中</br>

        <%= f.submit "追加", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
