
	<div class="col-xs-4">

		<!--画像サイズについて確認-->

		<%= attachment_image_tag(@item, :image, :fill, 50, 50, fallback: 'no_image.jpg', size: '250x200') %>
	</div>

	<div class="col-xs-8">
		<span><b>商品名</b>
		  <h4><%= @item.name %></h4>
		</span>
	</div>

	<div class="col-xs-8">
		<span><b>商品説明</b>
		  <h4><%= @item.introduction %></h4>
		</span>
	</div>

	<div class="col-xs-8">
		<span><b>ジャンル</b>
		  <h4><%= @genre.name %></h4>
		</span>
	</div>

	<div class="col-xs-8">
		<span><b>税込価格(税抜価格)</b>
			<h4><%= @item.price*1.1 %>(<%= @item.price %>)円</h4>
		</span>
	</div>

	<div class="col-xs-8">
		<span><b>販売ステータス</b>
			<h4>
			  	<% if @item.is_soldout == true %>
	  				売り切れ
	  			<% else %>
	  				販売中
	  			<% end %>
	  			<%= link_to "編集する", edit_admins_item_path, class: " btn btn-default", style: "border-radius: 50%" %>
	  		</h4>
	  	</span>

	<div class="col-xs-8">
	  	
	</div>



