<div class="row">

  <%= render 'items/genrebar', genres: @genres %>

  <div class="col-xs-10">
  	ようこそ、NaganoCakeへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。

  <h2>オススメの商品です!!</h2>
  <% @items.each do |item| %>
    <%= attachment_image_tag(item, :image, :fill, 100, 50, fallback: 'no_image.jpg', size: '100x50') %>
    商品名<%= item.name %>
    ¥    <%= item.price %>
         <%= item.genre.name %>
  <% end %>
  </div>
</div>