<div class="row">
<div class="col-xs-2">
  <%= render 'items/genrebar', genres: @genres %>
  <%= render 'homes/snslink' %>
</div>

  <div class="col-xs-4">
    <div class="panel panel-defaul">
      <p class="jquery">ようこそ、NaganoCakeへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</p>
    </div>
  </div>

  <div class="col-xs-6">
    <div id="container">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
      </div>
    </div>
  </div>

  <div class="col-xs-10">
    <h2>オススメの商品です!!</h2>
      <div class="row">
        <!-- 配列の最初の４つを順番にループする -->
        <% @items.first(4).each do |item| %>
          <div class="col-xs-3">
            <%= link_to item_path(item) do %>
              <%= attachment_image_tag(item, :image, fallback: 'no_image.jpg', size: '200x150') %><br>
              <%= item.name %><br>
              ￥<%= converting_to_jpy(item.price) %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="pull-right">
        <%= link_to 'もっと見る>', items_path %>
      </div>
  </div>
</div>