<div class="row">

  <%= render 'items/genrebar', genres: @genres %>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <p>ようこそ、NaganoCakeへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</p>
    </div>
  </div>

  <div class="col-xs-10">
    <h2>オススメの商品です!!</h2>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-xs-3">
          <%= attachment_image_tag(item, :image, fallback: 'no_image.jpg', size: '200x150') %><br>
          <%= item.name %><br>
          ￥<%= converting_to_jpy(item.price) %>
        </div>
        <% end %>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-6 col-offset-3">
        <!--ページネーション機能ついか-->
        <%= paginate @items %>
      </div>
    </div>
</div>