<div class="row">
	<h3>ショッピングカート</h3>
	<div class="col-md-2 col-md-offset-10">
		<%= link_to 'カートを空にする', cart_items_delete_path, method: :delete, data: {confirm: "本当にカートを空にしてもよろしいですか？"}, class: "btn btn-default btn-danger" %>
	</div>
</div>


<div class="row">
<table class="col-md-12">
	<thead>
	<tr>
		<th>商品名</th>
		<th>単価(税込)</th>
		<th>数量</th>
		<th>小計</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<% @cart_items.each do |cart_item| %>
	<tr>
		<td>
			<%= attachment_image_tag cart_item.item, :image, size: "50x40", class: "img-rounded pull-left", fallback: "no_image.jpg" %>
			<%= cart_item.item.name %>
		</td>
		<td><%= converting_to_jpy(cart_item.item.price) %>
			<!-- 3桁区切りで表示されるようcart_items_helper.rbに定義 -->
		</td>
		<td>
			<%= form_for(cart_item) do |f| %>
				<%#= f.select :number, (1..20).to_a %><!--参考：20個制限する場合の書き方 -->
				<%= f.number_field :number %>
				<%= f.submit "変更", class: "btn btn-default btn-primary" %>
			<% end %>
		</td>
		<td>
			<%= converting_to_jpy(cart_item.item.price * cart_item.number) %>
			<!-- cart_items_helper.rb参照 -->
		</td>
		<td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, data: {confirm: "この商品を削除してもよろしいですか？"}, class: "btn btn-default btn-danger" %>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
</div>


<div class="row">
	<div class="col-md-1">
		<%= link_to "買い物を続ける", items_path, class: "btn btn-default btn-primary" %>
	</div>

	<table class="col-md-2 col-md-offset-10">
		<tr>
			<td>合計金額</td>
			<td>
				<%= converting_to_jpy(current_end_user.cart_item_sum) %>
				<!-- cart_item_sumはend_user.rbに定義 -->
			<td>
		</tr>
	</table>
</div>
<!-- カートが空の場合、情報入力に進めない -->
<% if current_end_user.cart_items.present? %>
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<%= link_to "情報入力に進む", new_order_path, class: "btn btn-lg btn-success" %>
		</div>
	</div>
<% end %>
