<h3>ショッピングカート</h3>
<%= link_to 'カートを空にする', cart_items_delete_path, method: :delete, class: "btn btn-default btn-danger" %>

<table>
	<thead>
	<tr>
		<th>商品名</th>
		<th>単価(税込)</th>
		<th>数量</th>
		<th>小計</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<% @cart_items.each do |cart_item| %>
	<tr>
		<td>
			<%= attachment_image_tag cart_item.item, :image, size: "30x40", class: "img-rounded pull-left", fallback: "no_image.jpg" %>
			<%= cart_item.item.name %>
		</td>
		<td><%= cart_item.item.price %></td><!-- ここは税込価格で表示されるよう計算式?を記入してください -->
		<td>
			<%= cart_item.number %>
			<%= link_to "変更", items_path, class: "btn btn-default btn-primary" %>
		</td>
		<td>ここにカートに入れた小計が入ります</td><!-- ここは税込価格と数量の積 -->

	</tr>
	<% end %>
	</tbody>
</table>

<%= link_to "買い物を続ける", items_path, class: "btn btn-default btn-primary" %>

<table>
	<tr>
		<td>合計金額</td>
		<td>ここに合計金額です</td>
	</tr>
</table>

<%= link_to "情報入力に進む", new_order_path, class: "btn btn-lg btn-success" %>
