<div class="row">
	<div class="col-xs-2">
    <!-- ジャンル検索サイドバーの呼び出し -->
	  <%= render 'items/genrebar', genres: @genres %>
	  <%= render 'homes/snslink' %>
	</div>
  
	<div class="col-xs-10">
		<!-- ジャンルidに紐づく商品を表示する-->
		
		<% if params[:genre_id] %>
		
			<p class="item-index"><%= @genre.name %>一覧<span class="item-count">（<%= @items.count %>件）</span></p>
		<% else %>
		<% @i = Item.all %>
		<% @i.count %>
			<p class="item-index">商品一覧<span class="item-count">（<%= @items.count %>／<%= @i.count %>件）</span></p>
		<% end %>
		<div class="row">
			<% @items.each do |item| %>
			  <% #if item.genre.is_invalid == true %>
			    <div class="col-xs-3">
				<%= link_to item_path(item) do %>
					<%= attachment_image_tag(item, :image, fallback: 'no_image.jpg', size: '220x165') %><br>
					<%= item.name %><br>
					￥<%= converting_to_jpy(item.price) %><br>

					<!-- いいね,ajax -->
					<div id="likes_buttons_<%= item.id %>">
						<%= render partial: 'favorites/favorite', locals: { item:item} %>
					</div>
				<% #end %>
			  <% end %>
			</div>
			<% end %>
		</div>
		<h2>人気の商品</h2>
		  <div class="row">
           <!-- ランキング -->
           <% count = 1 %>
		    <% @item_ranking.each do |item| %>
			  <div class="col-xs-3">
			   <%= "いいね数 #{count}位" %>
				<%= link_to item_path(item) do %>
					<%= attachment_image_tag(item, :image, fallback: 'no_image.jpg', size: '220x165') %><br>
					<%= item.name %><br>
					￥<%= converting_to_jpy(item.price) %><br>
					<!-- いいな -->
                    <span class="glyphicon glyphicon-star color-red"><%= item.favorites.count%></span>
                    <% count += 1 %>
				<% end %>
			  </div>
			<% end %>
		  </div>
		<%#= @item_rank %>
		<div class="row">
				<!--ページネーション機能ついか-->
			<div id="pagination">
				<%= paginate @items %>
				<%#= paginate @genre.items %>
			</div>
		</div>
	</div>
</div>
