<div class="row">
	<div class="col-xs-2">
	  <%= render 'items/genrebar', genres: @genres %>
	  <%= render 'homes/snslink' %>
	</div>
	<div class="col-xs-5">

		<div class="pull-right"><!--画像サイズについて確認-->

		    <%= attachment_image_tag(@item, :image, fallback: 'no_image.jpg', size: '440x330') %>

		</div>
	</div>

	<div class="col-xs-5"><!--文字の大きさを変更しました-->
		<h3><%= @item.name %></h3>

		<p><%= @item.introduction %></p><br>

		<h4>¥<%= converting_to_jpy((BigDecimal(@item.price) * BigDecimal("1.1")).ceil) %>(税込)<h4><br>

		<!--カートに入れる.ボタンの位置は右端に調整-->
		<div class="pull-right">
		<%= form_for(@cart_item, url: '/cart_items') do |f| %>
			<%= f.hidden_field :item_id, :value => @item.id %>
			<%= f.number_field :number, placeholder: '個数選択', min: 1 %>
			<%#= f.select :number, [['個数選択',0],['１個',1],['２個',2],['３個',3],['４個',4],['５個',5]] %>
			<%= f.submit "カートに入れる", class: "btn btn-primary" %>
		<% end %>
		</div>
	</div>

</div>