<h2>注文履歴一覧</h2>
<table class="table table-bordered">
    <thead>
    	<tr>
            <th>購入日時</th>
    		<th>購入者</th>
    		<th>注文個数</th>
    		<th>ステータス</th>
    	</tr>
    </thead>
    <tbody>
    	<!--each文で回して、データ取ってくる、関連付け必要-->
    	<% @orders.each do |order| %>
    	<tr>
            <!-- 購入日時 -->
    		<td><%= order.created_at %></td>

            <!-- 購入者 -->
    		<td><%= order.name %></td>

    		<td><%= "未実装" %></td>

　　　　　　　<!--ステ-タス-->
    		<td><%= order.order_status_i18n %></td>

    		<td><%= link_to '詳細画面', admins_order_path(order), class: 'btn btn-default btn-primary' %></td>


    	</tr>
    	<% end %>

    </tbody>

</table>
