<h2>注文ステータスの変更</h2>
<table class="table table-bordered">
    <thead>
    	<tr>
    		<th>購入者</th>
    		<th>配送先</th>
    		<th>支払い方法</th>
    		<th>注文ステータス</th>
    	</tr>
    </thead>
    <tbody>
    	<tr>
            <!--購入者-->
    		<td><%= @order.end_user.last_name %></td>

    		<!-- 配送先 -->
    		<td><%= @order.address %></td>

    		<!--支払い方法-->
    		<td><%= @order.payment_method %></td>

　　　　　　　<!--注文ステータス-->
            <% if @order.errors.any? %>
              <div>
                <ul>
                <% @order.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <td><%= form_with(model: @order, url:admins_order_path) do |f| %>
            <%= f.select :order_status, Order.order_statuses_i18n.invert %>
            <%= f.submit "更新する", class: "btn btn-primary" %>
            <% end %>
            </td>
    	</tr>
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th>更新</th>
        </tr>
    </thead>
    <tbody>
        <% @order_items.each do |order_item| %>
        <tr>
            <!--商品名-->
            <td><%= order_item.item.name %></td>
　　　　　　　<!--単価（税込）-->
            <td><%= order_item.tax_item_price %></td>
            <!--数量-->
            <td><%= order_item.number %></td>
            <!--小計-->
            <td><%= order_item.tax_item_price * order_item.number %></td>
            <!--現在の製作ステータス-->
            <td><%= order_item.item_status_i18n %></td>

         <% end %>
            <td><%= form_with(model: @order_item, url:admins_order_item_path(@order),method: :patch) do |f| %>
                  <%= f.select :item_status, OrderItem.item_statuses_i18n.invert %>
                  <%= f.submit "更新する", class: "btn btn-primary" %>
                <% end %>
            </td>
        </tr>
    </tbody>
</table>





