<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--userとadminとでヘッダーの表示を切り替える-->
    <% if end_user_signed_in? %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/admins_header' %>
    <% end %>

    <div class="container">

      <p id="notice"><%= notice %></p>
        <!--デバイスでnotice設定されている-->
      
      <%= yield %>

    </div>

  </body>
</html>
