<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <script src="https://kit.fontawesome.com/34f3987b2a.js" crossorigin="anonymous"></script>
    <title>NaganoCakes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <!--userとadminとでヘッダーの表示を切り替える-->
    <% if end_user_signed_in? %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/admins_header' %>
    <% end %>

    <div class="container">


     <!--送ったフラッシュメッセージをページ上部に表示する-->
        <div class="row">
          <div class="col-xs-12">
            <% flash.each do |key, value| %>
              <% key = "info" if key == "notice" %>
              <% key = "danger" if key == "alert" %>
              <%= content_tag :div, value, class: "alert alert-#{key}" %>
            <% end %>
          </div>
        </div>

      <%= yield %>

    </div>

  </body>
</html>
